<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/tailwind@4.0.0/dist/tailwind.js"></script>
    <script src="https://unpkg.com/tailwind@4.0.0/dist/TailwindApp.js"></script>
</head>
<body class="bg-indigo-600">
    {% include 'navbar.html' %}

    <div>
        {% block body %}
        {% endblock %}
    </div>
    
</body>
</html>